<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <form class="app-form" [formGroup]="pageForm" (submit)="onFormSubmit()">
         <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <mat-select  name="name" formControlName="name" required>
                @for (opt of operatorOptions; track opt.value) {
                <mat-option [value]="opt.value">{{opt.label}}</mat-option>
                }
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput  name="description" formControlName="description" />
            <mat-error *ngIf="pageForm.value.description">Description is required</mat-error>
        </mat-form-field>
        <div class="form-btn">        
            <button type="submit" [disabled]="!pageForm.valid" matButton="filled">{{ btnTxt }}</button>
        </div>
    </form>
    <!-- <ng-container *ngIf="busy"> <mat-spinner></mat-spinner></ng-container> -->
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton mat-dialog-close>Close</button>
</mat-dialog-actions>