<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar color="primary">Feature Flags</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home/feature-flags">Feature Flags</a>
      <a mat-list-item href="/home/attributes">Attributes</a>
      <a mat-list-item href="/home/operators">Operators</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-on-large">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Home</span>

      <span class="spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>