<div class="d-flex justify-content-center">
    <mat-card class="login-card" appearance="outlined">
        <mat-card-header>
            <img mat-card-image src="ampath-logo.png" alt="Ampath Logo">
            <h5>
                Feature Flag Management
            </h5>
        </mat-card-header>
        <mat-card-content>
            <form class="app-form" (ngSubmit)="onSubmitLogin($event)">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="username" name="username" required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" name="password" type="password" required />
                </mat-form-field>
                <div class="form-btn">
                    <button type="submit" matButton="filled" *ngIf="!busy">LOGIN</button>
                    <ng-container *ngIf="busy"> <mat-spinner diameter="50"></mat-spinner></ng-container>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>